<section>
    <!-- <p>register works!</p> -->
<!--header section-->
<header class="container">
    <h1>get<span>linked</span></h1>
    <div class="menu-bar">
        <ul>
            <li>Timeline</li>
            <li>Overview</li>
            <li>FAQS</li>
            <li class="contact" routerLink="/register">Contact</li>
        </ul>
        <div class="button-register">
            <button>Register</button>
        </div>
        <!-- <div>
            <img src="./../../assets/png/star (1).png" alt="">
        </div> -->
    </div>
</header>
<!--Main cta section-->
<main>
    <figure>
        <img src="./../../assets/png/d-graphic-designer-showing-thumbs-up-png-1.png" alt="">
    </figure>
    <div>
        <form action="">
            <h2>Register</h2>
            <div class="form-movement">
                <aside>
                    <p>Be part of this movement!</p>
                </aside>
                <figure>
                    <img src="" alt="">
                    <img src="" alt="">
                </figure>
            </div>
            <h2>Create your account</h2>
            <div>
                <div>
                    <label for="text">Team's Name</label>
                    <input type="team's name" name="team's name" placeholder="Enter the name of your group">
                </div>
                <div>
                    <label for="phone no">Phone</label>
                    <input type="phone" name="phone" placeholder="Enter your phone number">
                </div>
            </div>
            <div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="Enter your email address">
                </div>
                <div>
                    <label for="text">Project Topic</label>
                    <input type="project topic" name="project topic" placeholder="What is your group project topic">
                </div>
            </div>
            <!-- <input type="text" list="browsers" placeholder="select your category">
            <datalist id="browsers">
              <option value="Firefox">
              <option value="IE">
              <option value="Chrome">
              <option value="Opera">
              <option value="Safari">
            </datalist> -->
        </form>
    </div>
</main>
</section>
